
        .a {
            background-color: blue;
            width: 100%;
            height: 200px;

        }

        .v {
            height: 100px;
            width: 100px;
            border-radius: 100%;
            animation-name: phone;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }
        h2 {
            color: white;
            animation-name: h2;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            margin: 0px;
            font-family: 'Mukta', sans-serif;     
        }
    @keyframes h2 {
            0% {
                text-shadow: 0px 0px 10px white;
            }

            50% {
                text-shadow: 0px 0px 10px black;
            }


            100% {
                text-shadow: 0px 0px 10px white;
            }

        }

        h3 {
            color: white;
            margin: 0px;
            font-family: 'Mukta', sans-serif;

        }

        .e {
            text-align: center;
            margin: 10px;
        }

        @keyframes phone {
            0% {
                left: 0px;
                transform: rotate(20deg);
                box-shadow: 0px 0px 40px white;
            }

            50% {
                left: -0px;
                transform: rotate(-20deg);
                box-shadow: 0px 0px 40px white;
            }

            100% {
                left: 0px;
                transform: rotate(20deg);
                box-shadow: 0px 0px 10px white;
            }
        }

        .ppp {
            width: 1200px;
            height: 40px;
            margin: 15px;
            border: 1px solid black;
         }

        p {
            position: absolute;
            bottom: 10px;
            border: 2px solid black;
        }

        .block1 img {
            width: 70%;
        }

        .con_1 {
            border: 2px solid black;
            margin: 10px auto;
            width: 80%;
            padding: 20px;
            height: 420px;
            background: lightblue;
            display: flex;
            justify-content: space-around;
            border-radius: 5px;
            border: 1px solid lightblue;
            
        }

        .con_block {
            position: relative;
            width: 240px;
            height: 390px;
            background: white;
            border: 1px solid white;
            margin: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px white;
            transition: 2s;
        }
        .con_block:hover{
            border-radius:50px;
            
        }

        .con_block img{
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translate(-50%);
            width: 180px;
            height: 250px;
        }

        .con_block a {
            position: absolute;
            bottom: 30px;
            color: black;
            text-decoration: none;
            left: 50%;
            transform: translate(-50%);
            font-size: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .border2{
            margin: 10px auto;
            width: 80%;
            height: 420px;
            background-color: lightblue;
            display: flex;
            justify-content: space-around;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgb(161, 159, 159)
         }
         .border23{
             position: relative;
             width: 240px;
             height: 390px;
             background-color: white;
             top: 20px;
             border-radius: 10px;
             box-shadow: 0px 0px 10px white;
         }
         .border23:hover{
             border-radius: 20px;
         }
         .border23 img{
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translate(-50%);
            width: 200px;
            height: 250px;
            transition: 0.5s 0.5s ;
            
         }
         .border23 img:hover{
             width: 150px;
             height: 200px;
        }
         .border23 a{
             position: absolute;
             left: 50%;
             bottom: 80px;
             transform: translate(-50%);
             text-decoration: none;
             font-size: 15px;
             font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
         }
         .button{
             width: 200px;
             height: 30px;
             position: absolute;
             right: 10%;
             bottom: 8px;
             background-color: blue;
             border-radius: 5px;
             color: white;
        }
        .price{
            border: 1px solid yellow;
            background-color: yellow;
            border-radius: 5px;
            width: 200px;
            height: 30px;
            margin: 107% auto;
            bottom: -214px;
            position: absolute;
            left: 12px;
        }
        .border3{
            width: 100%;
            height: 100px;
            background-color: blue;
            margin-top:40px;
            border: 3px solid black;
            position: relative;
        }
        .h4{
            color: white;
            margin: 40px;
            text-align: center;
            font-family: 'Mukta', sans-serif;
        }
            
